*{
    margin: 0;
    padding: 0;
}
ul li{
    font-size: 30px;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

ul{
    /* margin: auto; */
    width: fit-content;
     /* or a fixed width */
    padding: 0;
    /* margin: auto;
    min-width: 300px; */
}

ul .li1{
    /* display: none; */
    /* visibility: hidden; */

}

.box{
   max-width: 150px;
    background-color: white;
    /* border: 2px solid black; */
    /* box-shadow: 5px 5px 5px red; */
}

.box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.box div{
    margin: 4px 8px 0;
}

.box div h4{
    color: #f57224;
    font-size: 18px;
    margin: 5px 0;
}

.box div .para{
    text-decoration: line-through;
    color: gray;
    display: inline-block;
}


.container{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 10px;
    /* border-top-left-radius: 90px; */
    /* border-radius: 50%; */

    /* border-top-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}